PORT=5000
# ESTO SOLO ES UN EJEMPLO, NO USES ESTAS CREDENCIALES EN PRODUCCIÓN. SOLO PARA TEST LOCAL MANUAL.
MONGO_URI=mongodb+srv://IsmaelAtlas:IsmaelJusto1987.@cluster0.fhd5r.mongodb.net/
JWT_SECRET=tu_secreto_super_seguro_aqui_para_local
FRONTEND_URL=http://localhost:3000